In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv('/content/EmployeeAttrition.csv')

In [ ]:
df.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 35 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       1470 non-null   int64
 1   Attrition                 1470 non-null   object
 2   BusinessTravel            1470 non-null   object
 3   DailyRate                 1470 non-null   int64
 4   Department                1470 non-null   object
 5   DistanceFromHome          1470 non-null   int64
 6   Education                 1470 non-null   int64
 7   EducationField            1470 non-null   object
 8   EmployeeCount             1470 non-null   int64
 9   EmployeeNumber            1470 non-null   int64
 10  EnvironmentSatisfaction   1470 non-null   int64
 11  Gender                    1470 non-null   object
 12  HourlyRate                1470 non-null   int64
 13  JobInvolvement            1470 non-null   int64
 14  JobLevel                  1470 non-null   int64
 15  JobRole                   1470 non-null   object
 16  JobSatisfaction           1470 non-null   int64
 17  MaritalStatus             1470 non-null   object
 18  MonthlyIncome             1470 non-null   int64
 19  MonthlyRate               1470 non-null   int64
 20  NumCompaniesWorked        1470 non-null   int64
 21  Over18                    1470 non-null   object
 22  OverTime                  1470 non-null   object
 23  PercentSalaryHike         1470 non-null   int64
 24  PerformanceRating         1470 non-null   int64
 25  RelationshipSatisfaction  1470 non-null   int64
 26  StandardHours             1470 non-null   int64
 27  StockOptionLevel          1470 non-null   int64
 28  TotalWorkingYears         1470 non-null   int64
 29  TrainingTimesLastYear     1470 non-null   int64
 30  WorkLifeBalance           1470 non-null   int64
 31  YearsAtCompany            1470 non-null   int64
 32  YearsInCurrentRole        1470 non-null   int64
 33  YearsSinceLastPromotion   1470 non-null   int64
 34  YearsWithCurrManager      1470 non-null   int64
dtypes: int64(26), object(9)
memory usage: 402.1+ KB

In [ ]:
#sepearte X and Y

In [ ]:
x = df.drop('Attrition',axis=1)
y = df['Attrition']

In [ ]:
x.shape,y.shape

((1470, 34), (1470,))

In [ ]:
# Train test split

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.3,random_state=7)

In [ ]:
x_train.shape,x_test.shape

((1029, 34), (441, 34))

In [ ]:
y_train.shape,y_test.shape

((1029,), (441,))

In [ ]:
#checking missing value
# output in percentage

In [ ]:
df.isnull().sum()/df.shape[0] * 100

Age                         0.0
Attrition                   0.0
BusinessTravel              0.0
DailyRate                   0.0
Department                  0.0
DistanceFromHome            0.0
Education                   0.0
EducationField              0.0
EmployeeCount               0.0
EmployeeNumber              0.0
EnvironmentSatisfaction     0.0
Gender                      0.0
HourlyRate                  0.0
JobInvolvement              0.0
JobLevel                    0.0
JobRole                     0.0
JobSatisfaction             0.0
MaritalStatus               0.0
MonthlyIncome               0.0
MonthlyRate                 0.0
NumCompaniesWorked          0.0
Over18                      0.0
OverTime                    0.0
PercentSalaryHike           0.0
PerformanceRating           0.0
RelationshipSatisfaction    0.0
StandardHours               0.0
StockOptionLevel            0.0
TotalWorkingYears           0.0
TrainingTimesLastYear       0.0
WorkLifeBalance             0.0
YearsAtCompany              0.0
YearsInCurrentRole          0.0
YearsSinceLastPromotion     0.0
YearsWithCurrManager        0.0
dtype: float64

Check columns with single value

In [ ]:
df.nunique()

Age                           43
Attrition                      2
BusinessTravel                 3
DailyRate                    886
Department                     3
DistanceFromHome              29
Education                      5
EducationField                 6
EmployeeCount                  1
EmployeeNumber              1470
EnvironmentSatisfaction        4
Gender                         2
HourlyRate                    71
JobInvolvement                 4
JobLevel                       5
JobRole                        9
JobSatisfaction                4
MaritalStatus                  3
MonthlyIncome               1349
MonthlyRate                 1427
NumCompaniesWorked            10
Over18                         1
OverTime                       2
PercentSalaryHike             15
PerformanceRating              2
RelationshipSatisfaction       4
StandardHours                  1
StockOptionLevel               4
TotalWorkingYears             40
TrainingTimesLastYear          7
WorkLifeBalance                4
YearsAtCompany                37
YearsInCurrentRole            19
YearsSinceLastPromotion       16
YearsWithCurrManager          18
dtype: int64

In [ ]:
#df.drop(['Over18','EmployeeCount'],axis=1)

In [ ]:
x_train.drop(['Over18','EmployeeCount'],axis = 1, inplace = True)

In [ ]:
x_train.shape

(1029, 32)

In [ ]:
x_train.drop(['StandardHours'],axis=1,inplace=True)

In [ ]:
x_train.shape

(1029, 31)

In [ ]:
x_test.drop(['Over18','EmployeeCount','StandardHours'],axis=1,inplace=True)

In [ ]:
x_test.shape

(441, 31)

#Remove repeated rows

In [ ]:
# only from train data

In [ ]:
x_train.drop_duplicates(inplace=True)

In [ ]:
x_train.shape

(1029, 31)

#Encoding the string columns



*   ordinal columns:label encoding
*  nominal columns: one hot encoding

#label Encoding

In [ ]:
x_train.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1029 entries, 907 to 175
Data columns (total 31 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       1029 non-null   int64
 1   BusinessTravel            1029 non-null   object
 2   DailyRate                 1029 non-null   int64
 3   Department                1029 non-null   object
 4   DistanceFromHome          1029 non-null   int64
 5   Education                 1029 non-null   int64
 6   EducationField            1029 non-null   object
 7   EmployeeNumber            1029 non-null   int64
 8   EnvironmentSatisfaction   1029 non-null   int64
 9   Gender                    1029 non-null   object
 10  HourlyRate                1029 non-null   int64
 11  JobInvolvement            1029 non-null   int64
 12  JobLevel                  1029 non-null   int64
 13  JobRole                   1029 non-null   object
 14  JobSatisfaction           1029 non-null   int64
 15  MaritalStatus             1029 non-null   object
 16  MonthlyIncome             1029 non-null   int64
 17  MonthlyRate               1029 non-null   int64
 18  NumCompaniesWorked        1029 non-null   int64
 19  OverTime                  1029 non-null   object
 20  PercentSalaryHike         1029 non-null   int64
 21  PerformanceRating         1029 non-null   int64
 22  RelationshipSatisfaction  1029 non-null   int64
 23  StockOptionLevel          1029 non-null   int64
 24  TotalWorkingYears         1029 non-null   int64
 25  TrainingTimesLastYear     1029 non-null   int64
 26  WorkLifeBalance           1029 non-null   int64
 27  YearsAtCompany            1029 non-null   int64
 28  YearsInCurrentRole        1029 non-null   int64
 29  YearsSinceLastPromotion   1029 non-null   int64
 30  YearsWithCurrManager      1029 non-null   int64
dtypes: int64(24), object(7)
memory usage: 257.2+ KB

In [ ]:
x_train['BusinessTravel'].unique

array(['Travel_Rarely', 'Non-Travel', 'Travel_Frequently'], dtype=object)

In [ ]:
label_map ={'BusinessTravel':{'Travel_Rarely':1, 'Non-Travel':0, 'Travel_Frequently':2}}

In [ ]:
x_train['BusinessTravel'].unique()

array(['Travel_Rarely', 'Non-Travel', 'Travel_Frequently'], dtype=object)

In [ ]:
x_train.replace(label_map,inplace =True)

In [ ]:
x_train['BusinessTravel'].unique()

array([1, 0, 2])

In [ ]:
x_test.replace(label_map,inplace=True)

In [ ]:
x_test['BusinessTravel'].unique()

array([1, 2, 0])

In [ ]:
x_test.head()

,Age,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeNumber,EnvironmentSatisfaction,Gender,...,PerformanceRating,RelationshipSatisfaction,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
71,29,1,1328,Research & Development,2,3,Life Sciences,94,3,Male,...,4,4,1,6,3,3,5,4,0,4
259,31,2,307,Research & Development,29,2,Medical,355,3,Male,...,3,2,0,6,2,4,5,4,1,4
363,33,1,350,Sales,5,3,Marketing,485,4,Female,...,3,2,0,1,2,3,1,0,0,0
185,33,1,931,Research & Development,14,3,Medical,252,4,Female,...,3,4,1,8,5,3,8,7,1,6
1015,34,2,560,Research & Development,1,4,Other,1431,4,Male,...,3,3,2,10,2,3,4,3,1,3

#one hot encoding (Dummy variables)

In [ ]:
x_train.dtypes

Age                          int64
BusinessTravel               int64
DailyRate                    int64
Department                  object
DistanceFromHome             int64
Education                    int64
EducationField              object
EmployeeNumber               int64
EnvironmentSatisfaction      int64
Gender                      object
HourlyRate                   int64
JobInvolvement               int64
JobLevel                     int64
JobRole                     object
JobSatisfaction              int64
MaritalStatus               object
MonthlyIncome                int64
MonthlyRate                  int64
NumCompaniesWorked           int64
OverTime                    object
PercentSalaryHike            int64
PerformanceRating            int64
RelationshipSatisfaction     int64
StockOptionLevel             int64
TotalWorkingYears            int64
TrainingTimesLastYear        int64
WorkLifeBalance              int64
YearsAtCompany               int64
YearsInCurrentRole           int64
YearsSinceLastPromotion      int64
YearsWithCurrManager         int64
dtype: object

In [ ]:
x_train_ohe = pd.get_dummies(x_train)

the above function "get_dummies" does one hot encoding

In [ ]:
x_train.shape, x_train_ohe.shape

((1029, 31), (1029, 50))

In [ ]:
x_train_ohe.columns

Index(['Age', 'BusinessTravel', 'DailyRate', 'DistanceFromHome', 'Education',
       'EmployeeNumber', 'EnvironmentSatisfaction', 'HourlyRate',
       'JobInvolvement', 'JobLevel', 'JobSatisfaction', 'MonthlyIncome',
       'MonthlyRate', 'NumCompaniesWorked', 'PercentSalaryHike',
       'PerformanceRating', 'RelationshipSatisfaction', 'StockOptionLevel',
       'TotalWorkingYears', 'TrainingTimesLastYear', 'WorkLifeBalance',
       'YearsAtCompany', 'YearsInCurrentRole', 'YearsSinceLastPromotion',
       'YearsWithCurrManager', 'Department_Human Resources',
       'Department_Research & Development', 'Department_Sales',
       'EducationField_Human Resources', 'EducationField_Life Sciences',
       'EducationField_Marketing', 'EducationField_Medical',
       'EducationField_Other', 'EducationField_Technical Degree',
       'Gender_Female', 'Gender_Male', 'JobRole_Healthcare Representative',
       'JobRole_Human Resources', 'JobRole_Laboratory Technician',
       'JobRole_Manager', 'JobRole_Manufacturing Director',
       'JobRole_Research Director', 'JobRole_Research Scientist',
       'JobRole_Sales Executive', 'JobRole_Sales Representative',
       'MaritalStatus_Divorced', 'MaritalStatus_Married',
       'MaritalStatus_Single', 'OverTime_No', 'OverTime_Yes'],
      dtype='object')

#Fill Missing Values

In [ ]:
num_cols = x_train.select_dtypes(exclude = 'object').columns

In [ ]:
num_cols

Index(['Age', 'BusinessTravel', 'DailyRate', 'DistanceFromHome', 'Education',
       'EmployeeNumber', 'EnvironmentSatisfaction', 'HourlyRate',
       'JobInvolvement', 'JobLevel', 'JobSatisfaction', 'MonthlyIncome',
       'MonthlyRate', 'NumCompaniesWorked', 'PercentSalaryHike',
       'PerformanceRating', 'RelationshipSatisfaction', 'StockOptionLevel',
       'TotalWorkingYears', 'TrainingTimesLastYear', 'WorkLifeBalance',
       'YearsAtCompany', 'YearsInCurrentRole', 'YearsSinceLastPromotion',
       'YearsWithCurrManager'],
      dtype='object')

In [ ]:
x_train_ohe.head()

,Age,BusinessTravel,DailyRate,DistanceFromHome,Education,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,...,JobRole_Manufacturing Director,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Single,OverTime_No,OverTime_Yes
907,44,1,1099,5,3,1267,2,88,3,5,...,False,False,False,False,False,False,True,False,True,False
878,42,0,179,2,5,1231,4,79,4,2,...,False,False,False,False,False,False,True,False,True,False
683,25,1,867,19,2,952,3,36,2,1,...,False,False,False,False,True,False,True,False,False,True
860,22,2,1256,3,4,1203,3,48,2,1,...,False,False,True,False,False,False,True,False,False,True
868,28,1,1179,19,4,1216,4,78,2,1,...,False,False,False,False,False,False,True,False,True,False

In [ ]:
training_median_values = x_train.loc[:,num_cols].median()

In [ ]:
x_train.fillna(training_median_values,inplace = True)

In [ ]:
x_test.fillna(training_median_values,inplace = True)